# 连接数据库

In [3]:
# -*- coding: UTF-8 -*-
import MySQLdb
import sys
from sqlalchemy import create_engine
import pandas as pd
import time

reload(sys)
sys.setdefaultencoding('utf-8')
host = 'localhost'
port = 3306
db = 'crawler'
user = 'root'
password = '123456'

engine = create_engine(str(r"mysql+mysqldb://%s:" + '%s' + "@%s/%s") % (user, password, host, db))
df = pd.read_sql(sql=r'select * from stock_pd_price', con=engine)

In [5]:
df.head()

      id  stock_no stock_index index_value        date
0  32748  sh600000          ??       15.98  2017-03-22
1  32749  sh600000         ???     43.81??  2017-03-22
2  32750  sh600000          ??       15.98  2017-03-22
3  32751  sh600000          ??       17.60  2017-03-22
4  32752  sh600000          ??     25.04??  2017-03-22