# import

In [2]:
import pandas as pd
import numpy as np


df = pd.DataFrame({'total_bill': [16.99, 10.34, 23.68, 23.68, 24.59],
                   'tip': [1.01, 1.66, 3.50, 3.31, 3.61],
                   'sex': ['Female', 'Male', 'Male', 'Male', 'Female']})

# data type of columns
print df.dtypes

sex            object
tip           float64
total_bill    float64
dtype: object

# select

In [8]:
# indexes
print df.index
# return pandas.Index
print df.columns
# each row, return array[array]
print df.values

RangeIndex(start=0, stop=5, step=1)
Index([u'sex', u'tip', u'total_bill'], dtype='object')
[['Female' 1.01 16.99]
 ['Male' 1.66 10.34]
 ['Male' 3.5 23.68]
 ['Male' 3.31 23.68]
 ['Female' 3.61 24.59]]

In [4]:
print df.loc[1:3, ['total_bill', 'tip']]
print df.loc[1:3, 'tip': 'total_bill']
print df.iloc[1:3, [1, 2]]
print df.iloc[1:3, 1: 3]

   total_bill   tip
1       10.34  1.66
2       23.68  3.50
3       23.68  3.31
    tip  total_bill
1  1.66       10.34
2  3.50       23.68
3  3.31       23.68
    tip  total_bill
1  1.66       10.34
2  3.50       23.68
    tip  total_bill
1  1.66       10.34
2  3.50       23.68

In [5]:
# at，根据指定行index及列label，快速定位DataFrame的元素；
# iat，与at类似，不同的是根据position来定位的；
print df.at[3, 'tip']
print df.iat[3, 1]

3.31
3.31

In [7]:
# ix，为loc与iloc的混合体，既支持label也支持position；
print df.ix[1:3, [1, 2]]
print df.ix[1:3, ['total_bill', 'tip']]

    tip  total_bill
1  1.66       10.34
2  3.50       23.68
3  3.31       23.68
   total_bill   tip
1       10.34  1.66
2       23.68  3.50
3       23.68  3.31

# where

In [10]:
### Pandas实现where filter，较为常用的办法为df[df[colunm] boolean expr]，比如：
print df[df['sex'] == 'Female']
print df[df['total_bill'] > 20]

# or
print df.query('total_bill > 20')

      sex   tip  total_bill
0  Female  1.01       16.99
4  Female  3.61       24.59
      sex   tip  total_bill
2    Male  3.50       23.68
3    Male  3.31       23.68
4  Female  3.61       24.59
      sex   tip  total_bill
2    Male  3.50       23.68
3    Male  3.31       23.68
4  Female  3.61       24.59

In [ ]:
# 在where子句中常常会搭配and, or, in, not关键词，Pandas中也有对应的实现：
# and
print df[(df['sex'] == 'Female') & (df['total_bill'] > 20)]
# or
print df[(df['sex'] == 'Female') | (df['total_bill'] > 20)]
# in
print df[df['total_bill'].isin([21.01, 23.68, 24.59])]
# not
print df[-(df['sex'] == 'Male')]
print df[-df['total_bill'].isin([21.01, 23.68, 24.59])]
# string function
print df = df[(-df['app'].isin(sys_app)) & (-df.app.str.contains('^微信\d+$'))]

# 对where条件筛选后只有一行的dataframe取其中某一列的值，其两种实现方式如下：
total = df.loc[df['tip'] == 1.66, 'total_bill'].values[0]
total = df.get_value(df.loc[df['tip'] == 1.66].index.values[0], 'total_bill')

# distinct

In [12]:
# 根据某列对dataframe进行去重：

df.drop_duplicates(subset=['sex'], keep='first', inplace=True)
# 包含参数：

# subset，为选定的列做distinct，默认为所有列；
# keep，值选项{'first', 'last', False}，保留重复元素中的第一个、最后一个，或全部删除；
# inplace ，默认为False，返回一个新的dataframe；若为True，则返回去重后的原dataframe

# group

In [13]:
# group一般会配合合计函数（Aggregate functions）使用，比如：count、avg等。Pandas对合计函数的支持有限，有count和size函数实现SQL的count：
print df.groupby('sex').size()
print df.groupby('sex').count()
print df.groupby('sex')['tip'].count()

sex
Female    1
Male      1
dtype: int64
        tip  total_bill
sex
Female    1           1
Male      1           1
sex
Female    1
Male      1
Name: tip, dtype: int64

In [14]:
# 对于多合计函数，

# select sex, max(tip), sum(total_bill) as total
# from tips_tb
# group by sex;
# 实现在agg()中指定dict：

print df.groupby('sex').agg({'tip': np.max, 'total_bill': np.sum})

# count(distinct **)
print df.groupby('tip').agg({'sex': pd.Series.nunique})

        total_bill   tip
sex
Female       16.99  1.01
Male         10.34  1.66
      sex
tip
1.01    1
1.66    1

# as

In [ ]:
# first implementation
df.columns = ['total', 'pit', 'xes']
# second implementation
df.rename(columns={'total_bill': 'total', 'tip': 'pit', 'sex': 'xes'}, inplace=True)

# join

In [ ]:
# 1.
df.join(df2, how='left'...)

# 2. 
pd.merge(df1, df2, how='left', left_on='app', right_on='app')
# 第一种方法是按DataFrame的index进行join的，而第二种方法才是按on指定的列做join。Pandas满足left、right、inner、full outer四种join方式

# order

In [ ]:
print df.sort_values(['total_bill', 'tip'], ascending=[False, True])

# top

In [ ]:
# 对于全局的top：

print df.nlargest(3, columns=['total_bill'])
# 对于分组top，MySQL的实现（采用自join的方式）：

select a.sex, a.tip
from tips_tb a
where (
    select count(*)
    from tips_tb b
    where b.sex = a.sex and b.tip > a.tip
) < 2
order by a.sex, a.tip desc;
# Pandas的等价实现，思路与上类似：

# 1.
df.assign(rn=df.sort_values(['total_bill'], ascending=False)
          .groupby('sex')
          .cumcount()+1)\
    .query('rn < 3')\
    .sort_values(['sex', 'rn'])
    
# 2.
df.assign(rn=df.groupby('sex')['total_bill']
          .rank(method='first', ascending=False)) \
    .query('rn < 3') \
    .sort_values(['sex', 'rn'])